<template name="cart">
	{{#if currentUser}}
		<h4>My Cart</h4>
		<ul class="list-unstyled ">
			{{#each cartitems currentUser}}
			<li id="cartitems">
				<span class="item">
					<span class="item-left">
						<img src="{{cartproduct.image}}" alt="Image"/>
						<span class="item-info">
							<span>
								<label class="badge">{{qty}}</label>
							</span>
							<span>{{truncate cartproduct.name 9}}</span>
							<p>{{{cartproduct.description}}}</p>
						</span>
					</span>
					<span class="item-right">
						<h4>{{currency cartproduct.price}} &nbsp;  
							<button class="btn btn-xs btn-danger pull-right delFromCart">x</button>
						</h4>
					</span>
				</span>
			</li>
			{{/each}}
		</ul>
	{{else}}
		<span>Please Log In...</span>
	{{/if}}
	<div class="col-md-12">
		<span>
			<button class="btn btn-md checkOutBtn">Check Out</button>
		</span>
	</div>
</template>