<template name="register">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<form class="register-form">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="plain">Registration</h3>
						<small>Already Registered ? <a href="/signin">Sign In</a></small>
					</div>
					<div class="panel-body">
						<div class="form-group col-lg-12">
							<label for="" class="plain">Email</label>
							<input type="text" class="form-control plain" id="email">
						</div>
						<div class="form-group col-lg-12">
							<label for="" class="plain">Name</label>
							<input type="text" class="form-control plain" id="firstname">
						</div>
						<div class="form-group col-lg-12">
							<label for="" class="plain">Last Name</label>
							<input type="text" class="form-control plain" id="lastname">
						</div>
						<div class="form-group col-lg-12">
							<label for="" class="plain">Password</label>
							<input type="password" class="form-control plain" id="password">
						</div>
					</div>
					<div class="panel-footer">
						<button type="submit" class="btn btn-info plain">Register</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>