<template name="panel">
	<div class="modal show" id="modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{this.header}}</h4>
				</div>
				<div class="modal-body">
					<p>{{>UI.contentBlock}}</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal"> Close</button>
				</div>
			</div>
		</div>
	</div>
</template>